Source: node-mylas
Section: javascript
Priority: optional
Maintainer: s0600204 <dev@s0600204>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-nodejs,
 node-typescript,
 nodejs
Standards-Version: 4.6.2
Homepage: https://github.com/raouldeheer/Mylas

Package: node-mylas
Architecture: all
Depends:
 ${misc:Depends}
Description: npm package to make the loading and saving of data from fs easy and reliable.
